<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>usherwong's resume</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  		<div class="container-fluid">
  			<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/resume">UsherWong's resume</a>
        </div>
  			<nav class="collapse navbar-collapse">
  				<ul class="nav navbar-nav social-links">
  					<li class="github-link"><a href="https://github.com/usherwong" target="_blank" title="github" class="github">&nbsp</a></li>
  					<li class="renren-link"><a href="http://www.renren.com/229539336" target="_blank" title="renren" class="renren">&nbsp</a></li>
  					<li class="weibo-link"><a href="http://weibo.com/wangyinshu" target="_blank" title="weibo" class="weibo">&nbsp</a></li>
  					<li class="facebook-link"><a href="https://www.facebook.com/wangyinshu" target="_blank" title="facebook" class="facebook">&nbsp</a></li>
  					<li class="twitter-link"><a href="https://twitter.com/wangyinshu" target="_blank" title="twitter" class="twitter">&nbsp</a></li>
  					<li class="google-link"><a href="https://plus.google.com/u/0/110284682050823459860/" target="_blank" title="google" class="google">&nbsp</a></li>
  					<li class="douban-link"><a href="http://www.douban.com/people/54811777/" target="_blank" title="douban" class="douban">&nbsp</a></li>
  					<li class="cnode-link"><a href="http://cnodejs.org/user/usherwong" target="_blank" title="cnode" class="cnode">cnode</a></li>					
  				</ul>
          <ul class="nav navbar-nav social-links navbar-right">
            <li class="email"><a href="mailto:wang.yin.shu@gmail.com"><i class="">&#x2709;</i> Email</a></li>
            <li class="print"><a href="javascript:window.print()"><i class="ss-icon">&#x2399;</i> Print</a></li>
          </ul>
  			</nav>
  		</div>
  	</div>
    <div class="container-fluid usher-container">
    	<section id="education" class="col-xs-6 col-md-8 col-sm-12 education">
    		<h2>Education</h2>
    		<ul class="list-unstyled">
    			<li>Software Engineering<br>
    				Jilin University,IN Sep 2007
    			</li>
    			<li>Interactive Design,Software Engineering<br>Beijing University of Aeronautics & Astronautics,IN Sep 2011(Droped out In Sep 2012)</li>
    		</ul>
    	</section>

    	<section class="col-xs-6 col-md-4 col-sm-12 info">
    		<h2>Infomations</h2>
    		<ul class="list-unstyled">
    			<li>Name:WangYinshu</li>
    			<li>Location:Beijing</li>
    			<li>Sex:male</li>
    			<li>Birth:11-29-1988</li>
    			<li>Height: 178cm</li>
    			<li>Phone: +86 18601381983</li>
    		</ul>
    	</section>
      <section id="experience" class="col-xs-12 col-sm-12 col-md-12 experience">
        <h2>Experience</h2>
        <section class="col-xs-6 col-md-4 col-sm-12">
          <h3>Tech</h3>
          <ul class="list-unstyled">
            <li>HTML5/CSS3</li>
            <li>Javascript/jQuery/Ajax</li>
            <li>Bootstrap/LESS</li>
            <li>NodeJs/express/mongodb/mongoose/meteor</li>
            <li>Heroku/GitShell</li>
            <li>Linux Shell</li>
            <li>CoffeeScript</li>
            <li>PHP/Apache(can read PHP)</li>
            <li>Angular</li>
          </ul>
        </section>
        <section class="col-xs-6 col-md-4 col-sm-12">
          <h3>Work Experience</h3>
          <ul class="list-unstyled">
            <li>Innovation works(March,2012 -- Jun,2012)<br>front-end web Developer intern</li>
            <li>Lovinc(March,2013 -- Feb,2014) <br>web Developer Engineering</li>
            <li>Seiue(Mar,2014 -- )<br>Node Developer Engineering </li>
          </ul>
        </section>
        <section class="col-xs-6 col-md-4 col-sm-12">
          <h3>Projects</h3>
          <ul class="list-unstyled">
            <li><a href="http://www.tukeq.com" target="_blank">tukeq(Innovation works)</a>(part of website)</li>
            <li><a href="http://www.lavaradio.com" target="_blank">Lavaradio</a>almost the whole front-end development</li>
            <li><a href="http://sinterest.herokuapp.com" target="_blank">myblog</a>develop by nodejs & mongo &heroku</li>
            <li><a href="shijian.pkuschool.edu.cn" target="_blank">Node & Angular Project</a></li>
            <li><a href="seiue.chalk.com" target="_blank">PhP & Angular Project</a></li>
          </ul>
        </section>
      </section>
    	<article class="pursue col-xs-12 col-sm-12 col-md-12">
    		<h2>Pursue</h2>
    		<!-- <p>Few years ago,i'd like to build the page,make it comfortable to custums.Util i heard of Nodejs,at that time i only know that it has something to do with "real-time","event-driven" or "highly scalable" apps.And I know that Nodejs is JavaScript for the server-side.Since then,i become one of the noder,frequently visit cnodejs and read some books about node(深入浅出nodejs,Node.js开发指南,MongoDB权威指南...),as time goes by,the more i know about node the more problem i can resolve.So...I want to do more things and resolve more problem with node.</p>
    		<p>Next step(next two weeks),i've learn more about Redis and argularjs.</p> -->
        <p>Looking for SOHO opportunity.</p>
    	</article>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>